@import url(//db.onlinewebfonts.com/c/22065c5e6b9fb52ee13ab8a0c7e38fe3?family=FrankfurterDMed);


@font-face {font-family: "FrankfurterDMed"; src: url("//db.onlinewebfonts.com/t/22065c5e6b9fb52ee13ab8a0c7e38fe3.eot"); src: url("//db.onlinewebfonts.com/t/22065c5e6b9fb52ee13ab8a0c7e38fe3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/22065c5e6b9fb52ee13ab8a0c7e38fe3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/22065c5e6b9fb52ee13ab8a0c7e38fe3.woff") format("woff"), url("//db.onlinewebfonts.com/t/22065c5e6b9fb52ee13ab8a0c7e38fe3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/22065c5e6b9fb52ee13ab8a0c7e38fe3.svg#FrankfurterDMed") format("svg"); }
body {
  font-family: FrankfurterDMed;
  padding: 37px;
  color: #060100;
}

.text {
  font-size: 70px;
  line-height: 53px;
  font-family: system-ui;
  font-weight: 800;
}

span {
    background-color: yellow;
    cursor: pointer;
}

button {
    width:600px;
    height: 100px;
    border-radius: 20px;
    font-size:40px;
    font-weight: bold;
    cursor: pointer;
}

.red-highlight {
    background-color: red!important;
}